include setup.py
include AUTHORS.rst
include README.rst
include CHANGELOG.rst
include MANIFEST.in
include domains/templates/test_index.html
include domains/templates/custom_test_index.html
recursive-include domains/templates *
